.btn-default {
    width: 100%;
    height: 60px;
    background: #47424C;
    border: none;
    color: #fff;
    font-size: 18px;
}

.error-space {
    height: 20px;
   
}
.error-message {
    color: red;
    font-size: 12px;
    opacity: 1; /* Initially hidden but space is reserved */
    transition: opacity 0.3s ease; 
}