/* Ova2EtokenTileContainer.css */

.etoken-tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Spacing between tiles */
  margin-top: 30px;
  padding: 0 20px;
}


.etoken-tile {
  background: #ededed; /* Light gray background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 8px; /* Rounded corners */
  border: 1px solid transparent; /* Initial transparent border */
  overflow: hidden;
  width: 250px; /* Set tile width */
  height: 135px; /* Fixed height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  transition: transform 0.3s ease-in-out, 
              box-shadow 0.3s ease-in-out,
              border-color 0.3s ease-in-out; /* Added border transition */
  text-align: center;
  padding: 25px; /* Increased padding */
}

/* Hover effect */
.etoken-tile:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  border-color: #000000; /* Black border on hover */
}

.etoken-tile-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 15px 0; 
  color: #333333; 
}

.etoken-tile-description {
  font-size: 0.95rem;
  color: #666666; 
  margin: 0; 
  padding: 0 20px; 
}