.ova2-header {
    .header-logo {
        width: 100%;
        border-radius: 10px;
    }

    .navigation .navbar-toggler {
        // width: 20%;
    }

    .navigation {
        .navbar-brand {
            width: 72px;
        }
    }
}

.capitalize-first {
    text-transform: lowercase;
}

.capitalize-first::first-letter {
    text-transform: uppercase;
}

.toggle-size {
    padding: 3px 5px;
    font-size: 18px;
    width: 39px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-size .navbar-toggler-icon {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    position: relative;
    bottom: 10.5px;
    right: 1.5px;
}